<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flashcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/deck.css" />
  </head>
  <body>
    <header>
      <form id="logout-form">
        <button type="submit">Log out</button>
      </form>
    </header>

    <a href="/">← Back to Deck List</a>

    <div id="mode-label"></div>
    <div id="app"></div>

    <script type="module">
      import { loadNext } from "../static/js/deck.js";
      import { getDeckIdFromPath, logout } from "../static/js/common.js";

      const deckId = getDeckIdFromPath();
      loadNext(deckId);

      document.getElementById("logout-form").addEventListener("submit", (e) => {
        e.preventDefault();
        logout();
      });
    </script>
  </body>
</html>
