<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flashcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/css/common.css" />
  </head>
  <body>
    <header>
      <a href="/login"><button>Log in</button></a>
    </header>

    <h1>Flashcards App</h1>
    <p>A simple flashcard application to help you learn and memorize information.</p>
    <p>
      Please, login to explore the available decks. Unfortunately, registration is not available at
      the moment.
    </p>
  </body>
</html>
