<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flashcards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/css/common.css" />
  </head>
  <body>
    <h1>Log in</h1>
    <form id="login-form">
      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Email" required />
      <button type="submit">Send code</button>
    </form>

    <script type="module">
      import { sendCode, verifyCode } from "../static/js/common.js";

      const form = document.getElementById("login-form");
      let step = "email";
      let email = "";

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        if (step === "email") {
          email = document.getElementById("email").value;

          await sendCode(email);

          form.innerHTML = `
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email" value="${email}" readonly disabled />
                    <label for="code"></label>
                    <input type="text" id="code" name="code" placeholder="Verification Code" required />
                    <button type="submit">Verify code</button>
                `;
          step = "code";
        } else {
          const code = document.getElementById("code").value;
          await verifyCode(email, code);
        }
      });
    </script>
  </body>
</html>
